<!DOCTYPE html>
<html>
  <head>
    <title>Chikage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー=>管理者　ログイン会員　非ログイン会員の三通りのヘッダー-->
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% elsif user_signed_in? %>
      
    <% else %>

    <% end %>
    <%= yield %>
  </body>
</html>
